header{
    margin-top: 20px;
    width: 70%;
    margin: 0 auto;
    /*margin-right: 10;*/
    margin-bottom: 10px;
    /*border: 1px solid blue;*/

    /*background-color: aqua;*/

    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: center;
}

header button{
    margin-top: 20px;
    margin: 0 15px;
    padding: 10px 20px;
    /*border: 1px solid #000;*/
    background-color: #008cba;
    font-size: 16px;
    color: #f0f0f0;
    cursor: pointer;
    border-radius: 5px;
    border: none;

}


